<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Главная страница</title>
    <link th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" rel="stylesheet" id="bootstrap-css">
    <link th:href="@{/main.css}" rel="stylesheet"/>
    <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
    <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
</head>
<body>
<div class="container search-table">
    <div class="search-box">
        <div class="row">
            <div class="col-md-3">
                <h5>Search All Fields</h5>
            </div>
            <div class="col-md-9">
                <input type="text" id="myInput" onkeyup="myFunction()" class="form-control"
                       placeholder="Search all fields e.g. HTML">
                <script>
                    $(document).ready(function () {
                        $("#myInput").on("keyup", function () {
                            var value = $(this).val().toLowerCase();
                            $("#myTable tr").filter(function () {
                                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                            });
                        });
                    });
                </script>
            </div>
        </div>
    </div>
    <div class="search-list">
        <h3>303 Records Found</h3>
        <table class="table" id="myTable">
            <thead>
            <tr>
                <th>Title</th>
                <th>Category</th>
            </tr>
            </thead>
            <tbody>


            <tr>
                <td>HTML</td>
                <td>Web Development</td>
            </tr>
            <tr>
                <td>PHP</td>
                <td>Web Development</td>
            </tr>
            <tr>
                <td>C#</td>
                <td>Programming Language</td>
            </tr>
            <tr>
                <td>JavaScript</td>
                <td>Web Development</td>
            </tr>
            <tr>
                <td>Bootstrap</td>
                <td>Web Design</td>
            </tr>
            <tr>
                <td>Python</td>
                <td>Programming Language</td>
            </tr>
            <tr>
                <td>Android</td>
                <td>App Development</td>
            </tr>
            <tr>
                <td>Angular JS</td>
                <td>Web Delopment</td>
            </tr>
            </tbody>
        </table>

    </div>
</div>
</body>
</html>