<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Главная страница</title>
    <link th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" rel="stylesheet" id="bootstrap-css">
    <link th:href="@{/main.css}" rel="stylesheet"/>
    <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
    <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $("#request-form").submit(function (event) {
                event.preventDefault();
                ajaxPost();
            })
        })

        function ajaxPost() {
            let url = "http://localhost:8090/?vacancyName=" + $("#vacancyName").val();
            $.ajax({
                type: "POST",
                url: url,
                success: function (response) {
                    let tbody = document.getElementById("tbody");
                    for (let obj in response) {
                        let data = response[obj];
                        let minSalary = data['minimalSalary'] === null ? "не указано" : data['minimalSalary'];
                        let maxSalary = data['maximalSalary'] === null ? "не указано" : data['maximalSalary'];
                        let tr = "<tr>";
                        tr += "<td>" + data['name'] + "</td>" + "<td>" + data['companyName'] + "</td>"
                            + "<td>" + "От " + minSalary + " до " + maxSalary + "</td>"
                            + "<td>" + "https://ekaterinburg.hh.ru/vacancy/" + data['id'] + "?host=hh.ru" + "</td>" + "</tr>"
                        tbody.innerHTML += tr;
                    }
                },
                error: function (response) {
                    alert("Произошла ошибка");
                }
            })
            resetData();
        }

        function resetData() {
            $("#vacancyName").val("");
        }
    </script>
</head>
<body>

<div class="container search-table">
    <div class="search-box">
        <div class="row">
            <div class="col-md-3">
                <h5>Введите название вакансии</h5>
            </div>
            <div class="col-md-9">
                <form id="request-form" th:action="@{/}" th:method="post">
                    <p>Название вакансии: <input type="text" id="vacancyName" name="vacancyName"
                                                 th:value="${vacancyName}"/></p>
                    <p><input type="button" value="Отправить" onclick="ajaxPost();"/> <input type="reset"
                                                                                             value="Сбросить"/></p>
                </form>
            </div>
        </div>
    </div>
    <div class="search-list">
        <h3>Результат запроса</h3>
        <table class="table" id="myTable">
            <thead>
            <tr>
                <th>Название вакансии</th>
                <th>Работодатель</th>
                <th>Зарплата</th>
                <th>Ссылка на hh.ru</th>
            </tr>
            </thead>
            <tbody id="tbody">
            </tbody>
        </table>

    </div>
</div>
</body>
</html>